@inherits UmbracoViewPage<IfiNavet.Web.Core.ViewModels.StartPageViewModel>
@{
    Layout = "master.cshtml";
    StartPage data = Model.StartPageModel;
    Company? partner = Model.Partner;
    JobListing[] upcomingJobs = Model.JobListings[..Math.Min(3, Model.JobListings.Length)]; // Getting upcoming jobs, allowing upto 3, but if less then just show them
    Event[] upcomingEvents = Model.Events[..Math.Min(3, Model.Events.Length)]; // Allow upto 3 events, but allow less
}

<!-- Event carousel -->
<div>
    @foreach (Event upcomingEvent in upcomingEvents)
    {
        <p>@upcomingEvent.Name, @upcomingEvent.EventDate</p>
    }
</div>

<!-- Job Listings -->
<div class="card card--featured">
    <div class="container">
        <div class="row">
            @foreach (JobListing job in upcomingJobs)
            {
                <div class="">
                    @{ await Html.RenderPartialAsync("Job/JobCard", job); }
                </div>
            }
        </div>
        <div class="row center">
            <a href="/stillingsannonser/" class="btn btn--accent btn--rounded btn--shadow col-xs-12 col-sm-6 col-md-4">
                Se alle annonser
            </a>
        </div>
    </div>
</div>

<!-- About Navet -->
<div class="about">
    <div class="container">
        <div class="row">
            <div class="about-content col-xs-12 col-sm-8">
                @data.About
            </div>
        </div>
    </div>
</div>

<!-- About Partner company -->
@if (partner != null)
{
    <div class="partner card">
        <div class="container">
            <h2 class="h1">@Umbraco.GetDictionaryValue("partner")</h2>
            <div class="row middle-xs center-xs start-md">
                <div class="col-xs-12 col-md-4 center">
                    <div class="partner-logo">
                        <img loading="lazy" src="@partner.CompanyLogo?.Url()" alt="@partner.Name logo"/>
                    </div>
                </div>
                <div class="col-xs-12 col-md-8">
                    <h2>@partner.Name</h2>
                    @partner.CompanyDescription
                </div>

            </div>
        </div>
    </div>
}

<!-- Board members -->
<div class="board-members">
    <div class="board-members board-members-header">
        <div class="container">
            <h2 class="h1">@Umbraco.GetDictionaryValue("theBoard")</h2>
        </div>
    </div>
    <div class="row container">
        @{
            foreach (StudentMember member in data.BoardMembers)
            {
                string memberEmail = (string)member.Value("Email") ?? String.Empty;
                string memberImg = (member.ProfileImage ?? Umbraco.Media(1303)!).Url();
                <div class="board-member col-xs-12 col-sm-4 col-md-3">
                    <div class="board-member-photo">
                        <div class="round-frame">
                            <img src="@memberImg" alt="@member.Name" loading="lazy"/>
                        </div>
                    </div>
                    <div class="board-member-personalia">
                        <h3>@member.NavetVerv</h3>
                        <div>@member.Name</div>
                        <a href="mailto:@(memberEmail)">@memberEmail.</a>
                    </div>
                </div>
            }
        }
    </div>
</div>