@inject ImageService ImageService
@using Wasabi.Services
@inherits UmbracoViewPage<JobListing>

@{
    Company? company = (Model.Employer as Company)!;
}

<div class="job-card">
    <div class="job-card-top">
        <div
            class="job-type job-type--@Model.JobType?.ToLower()">@Umbraco.GetDictionaryValue(Model.JobType ?? string.Empty)</div>
        <div class="job-company-logo">
            <img src="@ImageService.GetCompanyImageUrl(company)" alt="@company.Name">
        </div>
    </div>
    <div class="job-card-bottom">
        <div>
            <h3 class="job-title">@Model.Name</h3>
            <div class="job-teaser">
                <p>@Model.JobTeaser</p>
            </div>
        </div>
        <a href="@Model.Url()" class="btn">@Umbraco.GetDictionaryValue("jobReadMore")</a>
    </div>
</div>