@inherits UmbracoViewPage<IfiNavet.Web.Core.ViewModels.Member.MemberRequestPasswordResetViewModel>
@using IfiNavet.Web.Core.Controllers.Member
@model IfiNavet.Web.Core.ViewModels.Member.MemberRequestPasswordResetViewModel

@using (Html.BeginUmbracoForm<MemberResetPasswordController>(nameof(MemberResetPasswordController.MemberRequestPasswordReset)))
{
    @Html.ValidationSummary(true)
    <h1 class="h2">@Umbraco.GetDictionaryValue("memberForgotPassword")</h1>
    <div class="form-input">
        @Html.LabelFor(m => m.Email, "E-post", new { @class = "form-label" })
        @Html.TextBoxFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    <div class="controls">
        <button id="reset-submit" type="submit" class="btn">
            @Umbraco.GetDictionaryValue("memberResetPassword")
        </button>
        <p>@TempData["status"]</p>
    </div>
}