@using Wasabi.ViewModels.Events
@inherits UmbracoViewPage<Wasabi.ViewModels.Events.EventAttendeeRegistrationViewModel>

@{
    Layout = "master.cshtml";
}

<table>
    <tr>
        <th>Brukernavn</th>
        <th>Navn</th>
        <th>Epost</th>
        <th>Allergi</th>
        <th>Språk</th>
    </tr>
    @foreach (AdministrationAttendee attendee in Model.Attendees)
    {
        <tr>
            <td>@attendee.Username</td>
            <td>@attendee.FullName</td>
            <td>@attendee.Email</td>
            <td>@attendee.Allergies</td>
            <td>@attendee.PreferredLanguage</td>
        </tr>
    }
</table>

@section Scripts {

}