@using Wasabi.ViewModels.Events
@using Umbraco.Cms.Core.Security
@inherits UmbracoViewPage<Wasabi.ViewModels.Events.EventViewModel>
@inject IMemberManager MemberManager;

@{
    Layout = "master.cshtml";
    string description = Model.EventTeaser ?? Model.Root().Value<string>("metaDescription")!;
}

@section Head {
    <meta name="description" content="@description"/>
}

<h1>@Model.Name</h1>

@if (!Model.IsRegistrationOpen)
{
    <h3>Arrangmentet åpner for påmelding @Model.RegistrationDate.ToString("dddd dd.MM kl. HH:mm")</h3>
}
else if (!MemberManager.IsLoggedIn())
{
    <a href="/login/?redirectURL=@Model.Url()">Logg inn for å melde deg på</a>
}
else if (Model.IsCurrentMemberAttending)
{
    <p>Du er påmeldt</p>
    @await Html.PartialAsync("Event/EventUnregistrationForm")
}
else if (Model.AmountOfAttendees < Model.ParticipantLimit)
{
    @await Html.PartialAsync("Event/EventRegistrationForm", new EventRegistrationFormViewModel())
}
else
{
    <h3>Arrangementet er fult</h3>
}

<div class="container">
    <h2 class="primary">@Umbraco.GetDictionaryValue("jobRelatedHeader") @Model.HostingCompany?.Name</h2>
    <div class="spacer"></div>
    @await Html.PartialAsync("JobListings/JobListingsSearchResult", Model.JobListings)
</div>

@*<div id="reader" width="600px" height="500px"></div>*@

@section Scripts {
    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
    <script>
        function onScanSuccess(decodedText, decodedResult) {
            // handle the scanned code as you like, for example:
            console.log(`Code matched = ${decodedText}`, decodedResult);
        }

        function onScanFailure(error) {
            // handle scan failure, usually better to ignore and keep scanning.
            // for example:
            // console.warn(`Code scan error = ${error}`);
        }

        let html5QrcodeScanner = new Html5QrcodeScanner(
            "reader",
            {
                fps: 10,
                qrbox: {width: 250, height: 250}
            },
            /* verbose= */ false);
        html5QrcodeScanner.render(onScanSuccess, onScanFailure);
    </script>


}
