@using Wasabi.ViewModels.JobListings
@inherits UmbracoViewPage<Wasabi.ViewModels.JobListings.JobListingsViewModel>
@{
    Layout = "_master.cshtml";
}

<div class="blue-header center-header">
    <div class="page--title page--title-no-line">
        <h1>@Model.Name</h1>
    </div>

    <form action="@Model.Url()" method="get" aria-label="@Umbraco.GetDictionaryValue("searchbarLabel")"
          class="search-input-form">
        <input type="text" placeholder="@Umbraco.GetDictionaryValue("searchbarPlaceholder")"
               id="query"
               name="query" class="search-input" value="@Model.QueryString"/>
        <button type="submit" class="search-button"> @Umbraco.GetDictionaryValue("Search")</button>
    </form>

    <div aria-label="@Umbraco.GetDictionaryValue("jobListingsFilterResults")" class="job-type-selectors">
        <a class="btn--job @(Model.IsFilteredByJobType ? "" : "btn--job--selected") "
           href="?query=@Model.QueryString">
            @Umbraco.GetDictionaryValue("jobListingsFilterAll")
        </a>
        @foreach (JobTypesFilter jobType in Model.JobTypes)
        {
            <a class="btn--job @(jobType.IsActive ? "btn--job--selected" : "") "
               href="?jobType=@jobType.JobTypeAlias&query=@Model.QueryString">
                @Umbraco.GetDictionaryValue(jobType.JobTypeAlias)
            </a>
        }
    </div>
</div>


<div class="page--layout">
    <div class="page--container">
        <div class="page--content--full">
            @if (Model.SearchResult.Any())
            {
                <div class="center-grid">
                    <div class="grid">
                        @foreach (JobListing item in Model.SearchResult)
                        {
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                @{ await Html.RenderPartialAsync("Job/JobCard", item); }
                            </div>
                        }
                    </div>
                </div>
            }
            else
            {
                <p>@Umbraco.GetDictionaryValue("jobListingsNoResults")</p>
            }
        </div>
    </div>
</div>

@await Html.PartialAsync("Job/JobFormFooter")