@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Wasabi.ViewModels
@inherits UmbracoViewPage;

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>@Model.Name</title>
    @if (!IsSectionDefined("Head"))
    {
        string description = Model.Value<string>("metaDescription") ?? Model.Root().Value<string>("metaDescription")!;
        <meta name="description" content="@description"/>
    }

    @* Main style *@
    <link rel="stylesheet" type="text/css"
          href="@Url.Content("~/assets/css/site.css")"
          asp-append-version="true"/>

    @* Google material symbols *@
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=event,fork_spoon,group,map"/>


    @* Page specific meta data *@
    @await RenderSectionAsync("Head", false)
</head>
<body>
@* Header *@
@await Html.PartialAsync("Header", new HeaderViewModel { PageUrl = Model.Url() })

@* Body *@
<main id="app">
    @RenderBody()
</main>

@* Footer *@
<footer>
    <div class="footer-container footer-split">
        <div class="footer-information">
            @Model.Root().Value("FooterInformation")
        </div>
        <div class="footer-link">
            <a class="secondary-text" href="/personvernerklaering">Personvernerklæring</a>
            <a class="secondary-text" href="/vedtekter">Vedtekter</a>
        </div>
    </div>
</footer>

@await RenderSectionAsync("Scripts", false)
</body>
</html>