@inject IImageService ImageService
@using Wasabi.Services
@inherits UmbracoViewPage<Wasabi.ViewModels.StartPageViewModel>
@{
    Layout = "master.cshtml";
    Company? partner = Model.Partner as Company;
    JobListing[]? upcomingJobs = Model.JobListings;
    Event[]? upcomingEvents = Model.Events;
}

<div class="leader">

    @* About Partner company *@
    <div class="partner-container">
        <div class="partner">
            <div class="card-header">
                <div class="title">
                    <h1 class="secondary-header">Hovedsamarbeidspartner @partner?.Name</h1>
                </div>
                <div class="sub-title">
                    <h3>H24-V25</h3>
                </div>
            </div>
            <div class="content">
                <div class="image">
                    <img loading="eager" src="@ImageService.GetCompanyImageUrl(partner)" alt="@partner?.Name logo"/>
                </div>
                <div class="promo-description">
                    <h2>@partner?.Name</h2>
                    @partner?.CompanyDescription
                </div>
            </div>

        </div>
    </div>

    @* Upcoming Events *@
    <div class="upcoming-events">

    </div>
</div>

@* Job Listings *@
<div class="card card--featured">
    <div class="container">
        <div class="row">
            @foreach (JobListing job in upcomingJobs)
            {
                <div class="">
                    @{ await Html.RenderPartialAsync("Job/JobCard", job); }
                </div>
            }
        </div>
        <div class="row center">
            <a href="/stillingsannonser/" class="btn btn--accent btn--rounded btn--shadow col-xs-12 col-sm-6 col-md-4">
                Se alle annonser
            </a>
        </div>
    </div>
</div>

@* About Navet *@
<div class="about">
    <div class="container">
        <div class="row">
            <div class="about-content col-xs-12 col-sm-8">
                @Model.About
            </div>
        </div>
    </div>
</div>


@* Board members *@
<div class="board-members">
    <div class="board-members board-members-header">
        <div class="container">
            <h2 class="h1">@Umbraco.GetDictionaryValue("theBoard")</h2>
        </div>
    </div>
    <div class="row container">
        @foreach (StudentMember member in Model.BoardMembers)
        {
            string memberEmail = member.Value<string>("Email") ?? string.Empty;
            <div class="board-member col-xs-12 col-sm-4 col-md-3">
                <div class="board-member-photo">
                    <div class="round-frame">
                        <img src="@ImageService.GetProfileImageUrl(member, "boardMember")" alt="@member.Name"
                             loading="lazy"/>
                    </div>
                </div>
                <div class="board-member-personalia">
                    <h3>@member.NavetVerv</h3>
                    <div>@member.Name</div>
                    <a href="mailto:@(memberEmail)">@memberEmail.</a>
                </div>
            </div>
        }
    </div>
</div>