@inject IImageService ImageService
@using Wasabi.Services
@inherits UmbracoViewPage<Wasabi.ViewModels.StartPageViewModel>
@{
    Layout = "_master.cshtml";
    Company? partner = Model.Partner as Company;
    JobListing[]? upcomingJobs = Model.JobListings;
    Event[]? upcomingEvents = Model.Events;
}

<div class="leader-container">
    <div class="leader">

        @* About Partner company *@
        <div class="container-partner">
            <div class="partner">
                <div class="header">
                    <div class="title">
                        <h1 class="leader-title secondary-header">Hovedsamarbeidspartner</h1>
                    </div>
                    <div class="sub-title">
                        <h3 class="main-text">H24-V25</h3>
                    </div>
                </div>
                <div class="content">
                    <div class="image">
                        <img loading="eager" src="@ImageService.GetCompanyImageUrl(partner)" alt="@partner?.Name logo"/>
                    </div>
                    <div class="promo-description">
                        <h2>@partner?.Name</h2>
                        @partner?.CompanyDescription
                    </div>
                </div>
            </div>
        </div>

        @* Upcoming Events *@
        <div class="container-upcoming-events">
            <div class="upcoming-event-title">
                <h1 class="leader-title secondary-header">Arrangementer</h1>
            </div>
            <div class="container-carousel">
                <div class="btn--carousel-navigation btn-previous">
                <span class="material-symbols-rounded">
                    chevron_left
                </span>
                </div>

                <div class="carousel-wrapper">
                    <div class="carousel">
                        @foreach (Event upcomingEvent in upcomingEvents!)
                        {
                            <div class="container-card">
                                <a href="@upcomingEvent.Url()">
                                    <div class="carousel-card">
                                        <div class="image">
                                            <img
                                                src="@ImageService.GetCompanyImageUrl((Company)upcomingEvent.HostingCompany!)"
                                                alt="Company name">
                                        </div>
                                        <div class="content">
                                            <div class="heading">
                                                <h1 class="header">@upcomingEvent.Name</h1>
                                                <p class="teaser">@upcomingEvent.EventTeaser</p>
                                            </div>
                                            <div class="carousel-metadata">
                                                <div class="metadata-item">
                                                    <div class="icon">
                                                    <span class="material-symbols-rounded">
                                                        <span class="material-symbols-rounded">
                                                            group
                                                        </span>
                                                    </span>
                                                    </div>
                                                    <div class="metadata-data">
                                                    <span
                                                        class="main-text-large semi-bold">
                                                        @upcomingEvent.ParticipantLimit
                                                    </span>
                                                    </div>
                                                </div>
                                                <div class="metadata-item">
                                                    <div class="icon">
                                                    <span class="material-symbols-rounded">
                                                        event
                                                    </span>
                                                    </div>
                                                    <div class="metadata-data">
                                                    <span class="main-text-large semi-bold">
                                                        @upcomingEvent.EventDate.ToString("dddd dd.mm")
                                                    </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                    </div>
                </div>

                <div class="btn--carousel-navigation btn--next">
                <span class="material-symbols-rounded">
                    chevron_right
                </span>
                </div>
            </div>

            <a href="/arrangementer/">Se alle arrangementer her</a>
        </div>
    </div>
</div>

@* Job Listings *@
<div class="job-listings-featured">
    <div class="container">
        <div class="cards">
            @foreach (JobListing job in upcomingJobs)
            {
                <div>
                    @{ await Html.RenderPartialAsync("Job/JobCard", job); }
                </div>
            }
        </div>
        <div class="center">
            <a href="/stillingsannonser/"
               class="btn--primary">
                Se alle annonser
            </a>
        </div>
    </div>
</div>

@* About Navet *@
<div class="about">
    <div class="container">
        <div class="row">
            <div class="about-content col-xs-12 col-sm-8">
                @Model.About
            </div>
        </div>
    </div>
</div>


@* Board members *@
<div class="board-members">
    <div class="board-members board-members-header">
        <div class="container">
            <h2 class="h1">@Umbraco.GetDictionaryValue("theBoard")</h2>
        </div>
    </div>
    <div class="row container">
        @foreach (StudentMember member in Model.BoardMembers)
        {
            string memberEmail = member.Value<string>("Email") ?? string.Empty;
            <div class="board-member col-xs-12 col-sm-4 col-md-3">
                <div class="board-member-photo">
                    <div class="round-frame">
                        <img src="@ImageService.GetProfileImageUrl(member, "boardMember")" alt="@member.Name"
                             loading="lazy"/>
                    </div>
                </div>
                <div class="board-member-personalia">
                    <h3>@member.NavetVerv</h3>
                    <div>@member.Name</div>
                    <a href="mailto:@(memberEmail)">@memberEmail.</a>
                </div>
            </div>
        }
    </div>
</div>
    