@inherits UmbracoViewPage<Wasabi.ViewModels.Member.MemberLoginViewModel>
@using Wasabi.Controllers.Member
@model Wasabi.ViewModels.Member.MemberLoginViewModel

@using (Html.BeginUmbracoForm<MemberLoginController>(nameof(MemberLoginController.Submit)))
{
    @Html.ValidationSummary(true)

    <div class="form-input">
        @Html.LabelFor(m => m.LoginName, Umbraco.GetDictionaryValue("memberEmailUsername"), new { name = "username", @class = "form-label" })
        @Html.TextBoxFor(m => m.LoginName)
        @Html.ValidationMessageFor(m => m.LoginName)
    </div>
    <div class="form-input">
        @Html.LabelFor(m => m.Password, Umbraco.GetDictionaryValue("password"), new { name = "password", @class = "form-label" })
        <a href="/profil/tilbakestill-passord/">@Umbraco.GetDictionaryValue("memberForgotPassword")</a>
        @Html.PasswordFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <a href="/profil/ny-bruker/">Ny Bruker</a>
    <div class="form-input">
        <button id="login-submit" type="submit" class="btn">
            @Umbraco.GetDictionaryValue("login")
        </button>
        @if (TempData["status"] != null)
        {
            <p class="form-validation-error">@TempData["status"]</p>
        }
    </div>
}