@inherits UmbracoViewPage<Wasabi.ViewModels.Member.MemberResetPasswordViewModel>
@using Wasabi.Controllers.Member
@model Wasabi.ViewModels.Member.MemberResetPasswordViewModel

@using (Html.BeginUmbracoForm<MemberResetPasswordController>(nameof(MemberResetPasswordController.MemberResetPassword)))
{
    @Html.ValidationSummary(true)

    <h2>@Umbraco.GetDictionaryValue("memberEnterNewPassword")</h2>
    <div class="controls controls-row">
        @Html.LabelFor(m => m.NewPassword, Umbraco.GetDictionaryValue("password"), new { name = "passwordLbl", @class = "frmLabel" })
        @Html.PasswordFor(m => m.NewPassword, new { @class = "password" })
        @Html.ValidationMessageFor(m => m.NewPassword)
    </div>
    <div class="controls controls-row">
        @Html.LabelFor(m => m.ConfirmNewPassword, Umbraco.GetDictionaryValue("memberRepeatPassword"), new { name = "passwordLbl", @class = "frmLabel" })
        @Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "password" })
        @Html.ValidationMessageFor(m => m.ConfirmNewPassword)
    </div>
    <div class="controls">
        <button id="reset-set-submit" type="submit"
                class="btn btn-primary input-medium pull-right">@Umbraco.GetDictionaryValue("memberSetNewPassword")</button>
        <p>@TempData["status"]</p>
    </div>
}