@inherits UmbracoViewPage<Wasabi.ViewModels.Member.MemberLoginViewModel>
@using Microsoft.Extensions.Options
@using Wasabi.Controllers.Member
@using Wasabi.Helpers
@using Wasabi.Options
@model Wasabi.ViewModels.Member.MemberLoginViewModel
@inject IOptions<ReCaptchaModel> RecaptchaOptions

@{
    const string formId = "member-login-form";
    string reCaptchaSiteKey = RecaptchaOptions.Value.ReCaptchaSiteKey;
}

@using (Html.BeginUmbracoForm<MemberLoginController>(nameof(MemberLoginController.Submit), null, new { id = formId }))
{
    @Html.ValidationSummary(true)

    <div class="form-input">
        @Html.LabelFor(m => m.LoginName, Umbraco.GetDictionaryValue("memberEmailUsername"), new { name = "username", @class = "form-label" })
        @Html.TextBoxFor(m => m.LoginName)
        @Html.ValidationMessageFor(m => m.LoginName)
    </div>

    <div class="form-input">
        @Html.LabelFor(m => m.Password, Umbraco.GetDictionaryValue("password"), new { name = "password", @class = "form-label" })
        <a href="/profil/tilbakestill-passord/">@Umbraco.GetDictionaryValue("memberForgotPassword")</a>
        @Html.PasswordFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
    </div>

    <a href="/profil/ny-bruker/">Ny Bruker</a>

    @Html.HiddenFor(m => m.CaptchaToken)
    @ReCaptchaHelper.ReCaptchaScript(reCaptchaSiteKey, formId, nameof(Model.CaptchaToken))

    <div class="form-input">
        <button id="login-submit" type="submit" class="btn">
            @Umbraco.GetDictionaryValue("login")
        </button>
        @if (TempData["status"] != null)
        {
            <p class="form-validation-error">@TempData["status"]</p>
        }
    </div>
}

